<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <title>工作室</title>

    <link rel="stylesheet" href="dist/css/ckin.css">
    <link rel="stylesheet" href="css/demo.css">
</head>
<body>
<div class="htmleaf-container">

    <section class="demo-section demo-section--light" id="demo">
        <div class="container">
            <h2 class="title heading">Interesting videos are life...</h2>
            <video poster="ckin.jpg" src="fire.mp4" data-ckin="default" data-overlay="1" data-title="Begin in a minute..."></video>
            <p class="tr">
                This video by
                <a href="https://vimeo.com/lumatic" target="_blank">clancy</a>
            </p>
        </div>
    </section>
    <section class="demo-section demo-section--light" id="skins">
        <div class="container">
            <h2 class="title heading">Others</h2>
            <ul class="demo-list">
                <li class="demo-list__item">
                    <p>one</p>
                    <video poster="ckin.jpg" src="video2.mp4" data-ckin="default"></video>
                </li>
                <li class="demo-list__item">
                    <p>two</p>
                    <video poster="ckin.jpg" src="ckin.mp4" data-ckin="minimal" data-overlay="1"></video>
                </li>
                <li class="demo-list__item">
                    <p>three</p>
                    <video poster="ckin.jpg" src="ckin.mp4" data-ckin="compact" data-overlay="2"></video>
                </li>
                <li class="demo-list__item">
                    <p>four</p>
                    <video poster="ckin.jpg" src="ckin.mp4" data-color="#fff000" data-ckin="compact" data-overlay="2"></video>
                </li>
                <li class="demo-list__item">
                    <img src="logo.png" class="nav__logo" alt="Ckin">
                    <h2 class="coming-soon">Coming soon...</h2>
                </li>
            </ul>
        </div>
    </section>

</div>

<script src="dist/js/ckin.js"></script>
</body>
</html>